.box-layout {
  align-items: center;
  background: url('/images/breakfast.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: #98a4fa;
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.box-layout__title {
  color: #016c22;
  margin: 0 0 $m-size 0;
  line-height: 1;
}

.box-layout__button {
  background: #ebca54;
}
