.header {
  background: url('/images/reys.jpg');

}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: #3a0c7d;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
